*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: rgb(238, 238, 238);
    width: 50vw;
    margin: 30px 120px;
    border-radius: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

section .titre_parcours {
    font-family: "Dyno";
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
}



.container_contenu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.container_contenu .duree{
    padding: 10px;
    font-family: "Dyno";
    font-weight: bold;
    font-size: 25px;
}
.container_contenu .description {
    display: inline-block;
    margin: 10px;
    font-size: 17px;
}


#img_triana {
    max-width: 25%;
    border-radius: 10px;
}

#img_elporvenir {
    max-width: 25%;
    border-radius: 10px;
}

#img_elcentro {
    max-width: 25%;
    border-radius: 10px;
}

.infos-plus {
    display: block;
    color: #f7af3e;
    background-color: #333333;
    border: 1px #f7af3e solid;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    width: 170px;
    text-align: center;
    white-space: nowrap;
    align-self: flex-end;
    margin-bottom: 10px;
}

@media screen and (max-width: 1500px) {
    .container_contenu {
        display: block;
    }

    #img_triana {
        max-width: 50%;
    }

    #img_elporvenir {
        max-width: 50%;
    }

    #img_elcentro {
        max-width: 50%;
    }
}