*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.544);
}

.xbox {
    margin: 5%;
    background-color: #ea5c0d;
    border-radius: 10px;
}

.box {
    margin-bottom: 5%;
    background-color: #973b09;
    border-radius: 10px;
    padding: 5%;
}

img {
    border-radius: 10%;
}

body {
    background-color: #333333;
    justify-content: center;
}

h1 {
    margin: 0 120px;
    font-size: 45px;
}

h2 {
    color: #ffffff;
    text-align: center;
    padding: 2%;
    font-size: 2em;
}

h3 {
    text-align: center;
}

.container {
    position: relative;
    margin-top: 10%;
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.div1, .div2 {
    float: left;
}

.div2 {
    width: 30%;
    margin-right: 15px;
}

.div3 {
    width: 20%;
    float: right;
    z-index: 500000;
    position: relative;
}


section {
    overflow: hidden;
}



.infos-plus {
    color: #f7af3e;
    position: absolute;
    border: 1px #f7af3e solid;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    width: 170px;
    text-align: center;
}



footer {
    height: 20vh;
}