*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.temps {
    background: linear-gradient(to bottom, #ea5a0dda 0%,rgba(255,255,255,0) 100%);
    padding: 30px;
    margin: 15px;
    border-radius: 20px;

}

.conseil_compa {
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.comparateur {
    background: linear-gradient(to bottom, #ea5a0dda 0%,rgba(255,255,255,0) 100%);
    padding: 30px;
    border-radius: 20px;

}

.conseils {
    background: linear-gradient(to bottom, #ea5a0dda 0%,rgba(255,255,255,0) 100%);
    padding: 30px;
    border-radius: 20px;
}