*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
}

body {
    background-color : #333333;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0 120px;
    padding-bottom: 50px;
}

#macarena {
    width:500px;
}

.container_maptxt {
    display:flex;
    margin: 0 120px;
}

.Texte {
    padding-left:15px;
    color: white;
    font-family: "Cicle";
    font-size:x-large;
}

.ul1, .ul7 {
    padding-top:25px;
    padding-left:100px;
    font-family: "Cicle";
    font-size:x-large;
}

h1 i {
    color: #ea5c0d;
    font-size: 45px;
    font-family: "Dyno";
}

.container-suite {
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}

.container-suite div {
    background-color: rgba(92, 92, 92, 0.87);
    padding:20px;
    border-radius: 20px;
}

.container-suite div h3 {
    text-align:center;
}

.ul2 {
    padding-top:25px;
    padding-left:10px;
    margin-left:50px;
    margin-right:50px;
    font-family: "Cicle";
    font-size:x-large;
}

.ul2 li {
    padding:5px 0;
}

.ul3, .ul4 {
    padding-top:25px;
    margin-left:25px;
    margin-right:25px;
    font-family: "Cicle";
    font-size:x-large;
}

.ult-3, .ult-4 {
    padding-left:50px;
}

.ul5, .ul6 {
    padding-top:25px;
    margin-left:25px;
    margin-right:25px;
    font-family: "Cicle";
    font-size:x-large;
}

.ult-5, .ult-6 {
    padding-left:50px;
}
