*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
}

body {
    background-color : #333333;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0 120px;
    padding-bottom: 50px;
}


.container_maptxt {
    display:flex;
    margin: 0 120px;
}

.Texte {
    padding-left:15px;
    color: white;
    font-family: "Cicle";
    font-size:x-large;
}

ul {
    padding-left:30px;
    font-family: "Cicle";
    font-size:x-large;
}

h1 i {
    color: #ea5c0d;
    font-size: 45px;
    font-family: "Dyno";
}