@font-face {
    font-family: "Dyno";
    src: url(./Dyno\ Regular.ttf)format('truetype');
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font: 1em/1.5 "Dyno", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {
    font-size: 1.3em;
    color: black;

}

header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("https://images2.alphacoders.com/961/961345.jpg") center no-repeat;
    height: 100vh;
    background-size: cover;
}

header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

header h1,
header h2 {
    margin: 0;
}

header h2 {
    text-transform: uppercase;
    margin-top: -.5em;
}

header hgroup {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ea5c0d;
    border: 1px solid #fff;
    padding: .5em 3em;
    background-color: #333333;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*background:#333 center no-repeat;*/
    background-size: cover;
    z-index: 0;
    opacity: 0;
    --filter: blur(4px);
}

.site {
    padding: 20em 0;
    text-align: right;
    font-size: .8em;
    color: lightgrey;
    position: relative;
}

.menu {
    position: absolute;
    right: 5%;
    border: 1px solid #fff;
    background-color: #333333;
    text-align: center;
    border-radius: 30px;
    width: 45%;
}

.menu_carte {
    position: absolute;
    left: 10%;
    top: -30px;
    display: flex;
    background: #333333;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border: 1px solid #fff;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
}
.menu_carte a {
    margin: 0;
    padding: 0;
}
.langue {
    position: absolute;
    top: 100px;
    left: 1%;
    border: 1px solid #fff;
    background-color: #333333;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    width: 10%;
}

.site a {
    color: #ea5c0d;
    text-decoration: none;
}

.site a:hover {
    color: white;
}

.site nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.site nav a {
    padding: 3%;
    font-size: 1.em;
    display: inline-block;
    position: relative;
    z-index: 5;
    transition: all .5s;
    margin: 0 10px;
}

.site nav a:hover {
    background: #505050;
    color: #ea5c0d;
    border-radius: 30px;
}

#contenu {
    width: auto;
    text-align: center;
}