@font-face {
    font-family: "Dyno";
    src: url(./Dyno\ Regular.ttf)format('truetype');
}

@font-face {
    font-family: "Cicle";
    src: url(./Cicle\ Gordita.ttf);
}

html {
    background-color: #333333;
    font-family: "Cicle";
}

p {
    font-size: 20px;
}
h1 {
    color: #ea5c0d;
    margin: 0 120px;
    font-size: 45px;
    font-family: "Dyno";
}
h2 {
    color: #b94503;
    margin: 0 140px;
    font-family: "Dyno";

}

h3 {
    color: #f7af3e;
    font-family: "Dyno";
}