.langue {
    position: absolute;
    top: 40px;
    left: 80%;
    border: 1px solid #fff;
    background-color: #333333;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    width: 10%;
    height:30px;
    line-height:30px;
}

.langue2 {
    color: #ea5c0d;
    text-decoration: none;
    margin: 7px;
    padding: 5px;
}

.langue2:hover{
    background: #505050;
    border-radius: 30px;
}