footer {
    padding: 20px;
    background-color: #202020;
    height: 20vh;
    display: flex;
    justify-content: center;
    box-sizing:unset;

}
footer div {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px grey solid;
    width: 50%;

}
footer a img{
    width: 90px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#instagram {
    filter: invert(100%);
}